body,
html {
  height: 100%;
}
.bg-img {
  background-image: url("images/bigbg.png");
  height: 100%;
  z-index: -1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

ul.nav a:hover {
  color: #fff !important;
}

.gradient-thing {
  background-color: #fff;
}

.spin {
  animation: spin 4s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg-footer {
  background-color: #000000;
}

.temp {
  height: 100%;
  width: 100%;
}

.bradley {
  font-size: 72px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(rgb(244, 150, 0), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fit_it_css {
  object-fit: contain;
  width: 50%;
  height: 50%;
}

.button_size {
  object-fit: cover;
  width: 45%;
  height: 50px;
}

.center{
  display: flex;
  justify-content: center;
}