html {
  height: 100%;
}
.bg-img1 {
  background-image: url("images/bigbg.png");
  height: 100vh;
  z-index: -1;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  animation: scroll1 100s linear infinite;
  background-attachment: scroll;
}
@media (min-width: 700px) {
    .bg-img1 {
        background-attachment: fixed;
    }
  }

@keyframes scroll1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bg-img2 {
  background-image: url("images/bigbg.png");
  height: 100vh;
  z-index: -1;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  translate: translateX(100%);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  animation: scroll2 100s linear infinite;
  background-attachment: scroll;
}

@media (min-width: 700px) {
  .bg-img2 {
        background-attachment: fixed;
    }
  }

@keyframes scroll2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}




ul.nav a:hover {
  color: #fff !important;
}

.gradient-thing {
  background-color: #fff;
}

.spin {
  animation: spin 4s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.bg-footer {
  background-color: #000000;
}

.temp {
  height: 100%;
  width: 100%;
}

.bradley {
  font-size: 72px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(rgb(244, 150, 0), rgb(255, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fit_it_css {
  object-fit: contain;
  width: 50%;
  height: 50%;
}

.button_size {
  object-fit: cover;
  width: 45%;
  height: 50px;
}

.center{
  display: flex;
  justify-content: center;
}


#progress-bar123 {
  --progress: 0;
  height: 6px;
  width: var(--progress);
  background-color: red;
  position: relative;
  display: block;
  bottom: 0;
  z-index: 3;
}


/*.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}*/

.loading_screen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  transition: opacity 0.75s, visibility 0.75s;
}

.loading_screen img { 
            height: 10 0%; 
            width: 100%; 
            animation: loading 2s linear infinite; 
        } 

.loading_screen-hidden{
  opacity: 0;
  visibility: hidden;
}

.loading_screen img::after{
  content: "";
  width: 100px;
  height: 100px;

  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

.fade-in-text {
  font-family: Arial;
  opacity: 0;
  animation: fadeIn 2s ease infinite;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
